on init
    mount none /system/lib/libmtk-ril.so /vendor/lib/libmtk-ril.so bind
    mount none /system/etc/init/hw/init.mt6765.rc /vendor/etc/init/hw/init.mt6765.rc bind

    # force properties for mtkmal
    setprop persist.mtk_ims_support 0
    setprop persist.mtk_epdg_support 0

    setprop persist.sys.phh.radio.force_cognitive true

on property:vold.decrypt=trigger_restart_framework
    setprop persist.mtk_ims_support 0
    setprop persist.mtk_epdg_support 0
