on boot
    # DT2W
    chown system system /proc/touchpanel/double_tap_enable

    chmod 0660 /sys/devices/platform/mtk_disp_mgr.0/rgb
    chown system system /sys/devices/platform/mtk_disp_mgr.0/rgb

on init
    # Force disable all VoLTE support -- it requires intensive modification of frameworks
    # without framework support it creates all sorts of problems. Disable it.
    setprop persist.vendor.mtk.volte.enable 0
    setprop persist.vendor.mtk_ct_volte_support 0

on property:sys.boot_completed=1
    # Toggle airplane mode on and off on boot to enable volte.
    # This hack needs ImsInit commit to request ims on boot to work properly.

    exec - root -- /system/bin/sh -c "sleep 3"
    exec - root -- /system/bin/sh -c "settings put global airplane_mode_on 1"
    exec - root -- /system/bin/sh -c "am broadcast -a android.intent.action.AIRPLANE_MODE --ez state true"

    exec - root -- /system/bin/sh -c "settings put global airplane_mode_on 0"
    exec - root -- /system/bin/sh -c "am broadcast -a android.intent.action.AIRPLANE_MODE --ez state false"
